body{

  font-family: Arial, Helvetica, sans-serif;
}

 p{
  background: #1B1F3B;
  width: 60px;
  height: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: tomato;
}

.container{
  display: flex;
  justify-content: space-around;
}